*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
}

header{
position:fixed;
width:100%;
background:#111827;
padding:20px;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
width:90%;
margin:auto;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:20px;
}

nav ul li a{
color:white;
text-decoration:none;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.hero span{
color:#38bdf8;
}

.btn{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#38bdf8;
color:white;
text-decoration:none;
border-radius:5px;
}

section{
padding:80px 10%;
}

h2{
margin-bottom:20px;
color:#38bdf8;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
}

.card{
background:#1e293b;
padding:20px;
text-align:center;
border-radius:10px;
transition:.3s;
}

.card:hover{
background:#38bdf8;
transform:translateY(-5px);
}

.project,.edu-box{
background:#1e293b;
padding:20px;
margin-bottom:20px;
border-radius:10px;
}

button{
padding:12px 20px;
background:#38bdf8;
border:none;
color:white;
border-radius:5px;
cursor:pointer;
margin-top:20px;
}

footer{
text-align:center;
padding:20px;
background:#111827;
}

@media(max-width:768px){

nav{
flex-direction:column;
}

nav ul{
margin-top:15px;
flex-wrap:wrap;
justify-content:center;
}

.hero h1{
font-size:35px;
}

}
